.citation {
  padding-top: 55px;
  padding-left: 100px;

  background-image: url("../img/svg/quotes.svg");
  background-size: 62px 49px;
  background-position: 15px 0;
  background-repeat: no-repeat;
}
