.faq {
  padding: 95px 0 190px;

  @include vp--991 {
    padding: 65px 0 130px;
  }

  @include vp--599 {
    padding: 45px 0 90px;
  }
}

.faq__title {
  margin: 0;

  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;

  &:not(:last-child) {
    margin-bottom: 90px;
  }

  @include vp--991 {
    &:not(:last-child) {
      margin-bottom: 65px;
    }
  }

  @include vp--599 {
    font-size: 36px;

    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }
}

.faq__questions {
  @include reset-list;

  border-top: 1px solid $color-dim-gray;
}

.faq__question-wrapper {
  border-bottom: 1px solid $color-dim-gray;
}

.faq__question-btn {
  @include reset-btn;

  position: relative;

  width: 100%;
  padding: 22px 0;
  padding-right: 101px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;

  &::before,
  &::after {
    position: absolute;
    content: "";

    background-color: $color-dim-gray;

    transition:
      background-color $trans--300,
      transform $trans--300;
  }

  &::before {
    top: 37px;
    right: 35px;

    width: 31px;
    height: 1px;
  }

  &::after {
    top: 22px;
    right: 50px;

    width: 1px;
    height: 31px;
  }

  .faq__question-wrapper.is-open & {
    &::before,
    &::after {
      transform: rotate(-45deg);
    }
  }

  span {
    display: block;
    max-width: 790px;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      color: $color-pacific-blue;

      &::before,
      &::after {
        background-color: $color-pacific-blue;
      }
    }
  }
}

.faq__question {
  p {
    max-width: 790px;
    margin: 0;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 20px;
    }
  }
}
