.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  padding: 20px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__logo {
  flex: 0 0 auto;
  margin-right: 150px;

  img {
    width: 200px;
  }

  @include vp--991 {
    margin-right: 50px;

    img {
      width: 150px;
    }
  }

  @include vp--599 {
    img {
      width: 100px;
    }
  }
}

.header__main-nav {
  flex: 1 1 auto;

  @include vp--991 {
    flex: 0 0 auto;
  }
}
