.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  padding: 20px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__logo {
  flex: 0 0 auto;
  margin-right: 150px;

  img {
    width: 200px;
    height: 111px;
  }
}

.header__contact-list {
  @include reset-list;

  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  width: 350px;
  padding-top: 15px;
}

.header__contact-item {
  padding-left: 20px;
}

.header__contact-link {
  padding: 5px 0;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  text-transform: uppercase;

  &.link--accent {
    font-weight: 700;
  }
}
