.more-about {
  padding: 150px 0;

  background-color: $color-white-smoke;

  @include vp--991 {
    padding: 90px 0;
  }

  @include vp--599 {
    padding: 55px 0;
  }
}

.more-about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @include vp--599 {
    display: block;
  }
}

.more-about__img {
  img {
    width: 100%;
    max-width: 680px;
    margin-left: auto;
  }

  @include vp--599 {
    margin-bottom: 35px;
  }
}

.more-about__content {
  margin-top: 65px;
  padding-left: 180px;

  @include vp--1299 {
    margin-top: 10px;
    padding-left: 85px;
  }

  @include vp--991 {
    padding-left: 35px;
  }

  @include vp--599 {
    padding-left: 0;
  }
}

.more-about__title {
  margin: 0;

  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;

  &:not(:last-child) {
    margin-bottom: 70px;
  }

  @include vp--1299 {
    font-size: 36px;

    &:not(:last-child) {
      margin-bottom: 55px;
    }
  }

  @include vp--991 {
    font-size: 24px;
  }

  @include vp--599 {

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}
