.partners {
  padding: 70px 0 90px;

  background-color: $color-white-smoke;
}

.partners__container {
  display: flex;
  align-items: center;
}

.partners__content {
  flex: 1 1 calc(50% - 20px);
  align-self: flex-start;
}

.partners__content-inner {
  max-width: 615px;
}

.partners__title {
  margin: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.partners__desc {
  p {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.partners__list {
  @include reset-list;

  flex: 1 1 calc(50% + 20px);
  display: flex;
  align-items: flex-start;

  margin: 0 0;
}

.partners__item {
  padding: 10px 70px;
}

.partners__link {
  display: block;

  color: $color-suva-grey;
}
