.photo-slider {
  position: relative;
}

.photo-slider__slides {
  @include reset-list;
}

.photo-slider__slide {
  img {
    width: 100%;
  }
}

.photo-slider__controls {
  .round-slider-btn {
    position: absolute;
    top: calc(50% + 25px);
    z-index: 3;

    &.prev {
      left: 15px;
    }

    &.next {
      right: 15px;
    }
  }

  @include vp--599 {
    .round-slider-btn {
      top: calc(50% + 10px);
    }
  }
}
