.series {
  padding: 165px 0 200px;

  @include vp--991 {
    padding: 80px 0 95px;
  }

  @include vp--599 {
    padding: 35px 0 45px;
  }
}

.series__intro {
  max-width: 510px;
  margin-bottom: 65px;

  @include vp--991 {
    margin-bottom: 20px;
  }
}

.series__title {
  margin: 0;

  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @include vp--599 {
    font-size: 36px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.series__desc {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.series__see-all-link {
  position: relative;
  z-index: 2;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  text-transform: uppercase;
  color: $color-pacific-blue-2;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
