.series-slider {
  padding-bottom: 70px;

  @include vp--991 {
    padding-bottom: 30px;
  }

  @include vp--599 {
    padding-bottom: 0;
  }
}

.series-slider__wrapper {
  margin: -130px 0;

  @include vp--1299 {
    margin: -70px 0;
  }

  @include vp--991 {
    margin: 0;
  }
}

.series-slider__slides {
  @include reset-list;

  padding: 130px 0;

  @include vp--1299 {
    padding: 70px 0;
  }

  @include vp--991 {
    padding: 0;
  }
}

.series-slider__slide {
  transform: translateY(130px);
  transition: transform $trans--600;

  .swiper-slide-active + & {
    transform: translateY(0);
  }

  .swiper-slide-active + .swiper-slide ~ & {
    transform: translateY(-130px);
  }

  @include vp--1299 {
    transform: translateY(70px);

    .swiper-slide-active + & {
      transform: translateY(0);
    }

    .swiper-slide-active + .swiper-slide ~ & {
      transform: translateY(-70px);
    }
  }

  @include vp--991 {
    transform: translateY(0);

    .swiper-slide-active + & {
      transform: translateY(0);
    }

    .swiper-slide-active + .swiper-slide ~ & {
      transform: translateY(-0);
    }
  }
}

.series-slider__link {
  display: block;
  outline: none;

  @include vp--599 {
    max-width: 510px;
    margin: 0 auto;
  }
}

.series-slider__title {
  margin: 0;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: right;
  text-transform: uppercase;

  transition: color $trans--300;

  .series-slider__link:hover &,
  .series-slider__link:focus & {
    color: $color-pacific-blue-2;
  }
}

.series-slider__img {
  overflow: hidden;

  img {
    transition: transform $trans--600;

    .series-slider__link:hover &,
    .series-slider__link:focus & {
      transform: scale(1.02);
    }
  }
}

.series-slider__controls {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;

  width: calc((100% - 2 * 35px) / 3);
  margin: 40px auto 0;

  @include vp--991 {
    width: calc((100% - 35px) / 2);
    margin-top: 30px;
  }

  @include vp--599 {
    width: 90%;
    margin-top: 20px;
  }
}

.series-slider__scrollbar__wrapper {
  flex: 1 1 auto;

  padding: 0 20px;
}

.series-slider__fraction {
  flex: 0 0 25px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.25;

  &--total-pages {
    text-align: right;
  }
}

.series-slider__scrollbar {
  position: relative;
  height: 1px;

  &::before {
    position: absolute;
    content: "";
    top: 2px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $color-dim-gray;
  }

  .swiper-scrollbar-drag {
    height: 5px;

    background-color: $color-pacific-blue-2;
  }
}
