.vertical-photo-slider {
  display: flex;
  flex-direction: row-reverse;
}

.vertical-photo-slider__wrapper {
  flex: 1 1 auto;

  height: 500px;

  @include vp--1679 {
    height: 420px;
  }

  @include vp--1299 {
    height: 350px;
  }
}

.vertical-photo-slider__slides {
  @include reset-list;
}

.vertical-photo-slider__controls {
  flex: 0 0 120px;

  @include vp--1679 {
    flex-basis: 90px;
  }

  @include vp--1299 {
    flex-basis: 70px;
  }
}

.vertical-photo-slider__pagination {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: fit-content;
  padding-top: 55px;

  @include vp--1679 {
    padding-top: 40px;
  }

  @include vp--1299 {
    padding-top: 20px;
  }

  .swiper-pagination-bullet {
    position: relative;

    width: unset;
    height: 47px;
    padding-top: 15px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    color: $color-nobel;

    background: none;
    outline: none;
    opacity: 1;

    transition:
      height $trans--300,
      color $trans--300;

    &::after {
      position: absolute;
      content: "";
      top: 47px;
      left: 50%;
      bottom: 0;

      width: 1px;

      background-color: $color-nobel;

      transition: background-color $trans--300;
    }
  }

  .swiper-pagination-bullet-active {
    height: 109px;

    color: $color-pacific-blue-2;

    &::after {
      background-color: $color-pacific-blue-2;
    }
  }
}
