.video {
  background-color: $color-night-rider;
}

.video__wrapper {
  position: relative;

  img {
    width: 100%;
    max-height: 770px;
    object-fit: contain;
  }
}

.video__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
