//- Базовые
//- ---------------------------------

include ../mixins/basic/sprite
include ../mixins/basic/icon
include ../mixins/basic/img
include ../mixins/basic/picture

//- Компоненты
//- ---------------------------------

include ../mixins/components/round-slider-btn

include ../mixins/components/sliders/intro-slider
include ../mixins/components/sliders/series-slider
include ../mixins/components/sliders/vertical-photo-slider
include ../mixins/components/sliders/photo-slider
