mixin series-slider(slides)
  .series-slider
    .series-slider__wrapper.swiper-container
      ul.series-slider__slides.swiper-wrapper
        each slide in slides
          - const {title, href, path, name, type, altText} = slide
          li.series-slider__slide.swiper-slide
            a.series-slider__link(href=href)
              h3.series-slider__title=title
              .series-slider__img
                +picture(path, name, type, 510, 400, altText)
    .series-slider__controls
      .series-slider__fraction.series-slider__fraction--current-page 01
      .series-slider__scrollbar__wrapper
        .series-slider__scrollbar
      .series-slider__fraction.series-slider__fraction--total-pages 01
