@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin vp--1679 {
  @media (max-width: $vp--1680 - 1) {
    @content;
  }
}

@mixin vp--1299 {
  @media (max-width: $vp--1300 - 1) {
    @content;
  }
}

@mixin vp--991 {
  @media (max-width: $vp--992 - 1) {
    @content;
  }
}

@mixin vp--599 {
  @media (max-width: $vp--600 - 1) {
    @content;
  }
}

@mixin reset-btn {
  padding: 0;

  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;

  background-color: $color-transparent;
  border: none;
  outline: none;

  transition:
    color $trans--300,
    background-color $trans--300;

  &:not(:disabled) {
    cursor: pointer;
  }
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
