// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$color-blue:                      #2c39f2;

$color-night-rider:               #2d2d2d;
$color-dim-gray:                  #6a6a6a;
$color-grey:                      #818181;
$color-nobel:                     #9f9f9f;
$color-dark-gray:                 #a8a7a7;
$color-silver:                    #c4c4c4;
$color-white-smoke:               #f6f6f6;

$color-pacific-blue:              #00a2ce;
$color-pacific-blue-2:            #00a8d0;

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
//---------------------------------

$font-family--montserrat:          "Montserrat", "Arial", sans-serif;

// Animation
//---------------------------------

$trans--300:                        0.3s ease;
$trans--600:                        0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
//---------------------------------

$vp--1680:                          1680px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
