-
  const askCost ={
    title: "Узнать стоимость дома по своему проекту",
    form: {
      name: "Ваше имя",
      phone: "Ваш телефон",
      messge: "Сообщение",
      file: "Прикрепить файл",
      submit: {
        annotation: "Нажимая на кнопку, я подтверждаю, что согласен на обработку моих персональных данных, а также с Пользовательским соглашением",
        btnText: "Отправить"
      },
    },
  }
