-
  const customDesign = {
    title: "Индивидуальное проектирование",
    desc: "На выбор подходящий размер и конфигурация дома для разных земельных участков и разного состава семьи (молодая пара, семья с маленьким ребенком, дом для большой семьи). Мы сможем установить дом практически где угодно — на участке перед вашим домом, в лесной зоне, на берегу реки. Доставку осуществляет наша компания.",
    slides: [
      {
        path: "slides",
        name: "custom-design-slide1",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
      {
        path: "slides",
        name: "custom-design-slide1",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
      {
        path: "slides",
        name: "custom-design-slide1",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
      {
        path: "slides",
        name: "custom-design-slide1",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
      {
        path: "slides",
        name: "custom-design-slide1",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
    ],
    citation: "PLATforma Home — это современные модульные дома повышенной комфортности, готовые к круглогодичному проживанию.",
  }
