-
  const exclusiveDesign = {
    title: "Эксклюзивный дизайн от RHIZOME",
    desc: "Архитектурное бюро из Петербурга, основанное в 2011 году. На сегодняшний день Rhizome — это команда из 12 архитекторов, ведущих работу над проектами разного масштаба: архитектура, благоустройство территорий, общественные интерьеры.",
    awards: [
      "Собака.ру «Петербург будущего 2020», Архитектурное бюро года ",
      "Собака.ру «Петербург будущего 2019», Дизайн отеля, Точка на Карте. Приозерск",
      "АрхиWood 2019, Павильон Гостиная в Приозерске",
    ],
    partner: {
      href: "https://rhizomegroup.eu/ru",
      text: "Подробнее о RHIZHOME",
    },
    slides: [
      {
        path: "slides",
        name: "exclusive-design-slide1",
        type: "jpg",
        altText: "Пример эксклюзивного дизайна",
      },
      {
        path: "slides",
        name: "exclusive-design-slide1",
        type: "jpg",
        altText: "Пример эксклюзивного дизайна",
      },
    ],
  }
