-
  const faq = {
    title: "FAQ",
    questions: [
      {
        question: "Что такое модульный дом?",
        answer: [
          "Vulputate eget nibh netus mi nunc amet, morbi egestas. Donec at vulputate fermentum, sit sit iaculis lectus felis. Laoreet morbi diam ut ultricies posuere. Lectus imperdiet morbi semper viverra bibendum. Phasellus velit id bibendum tincidunt leo turpis urna diam. Adipiscing libero tortor aliquet arcu. In tellus dolor duis commodo faucibus lorem amet, maecenas sed. Ultrices tristique et sed cras et vitae neque, amet neque. Sit lacus, donec praesent facilisis eget nisl, eget nam. Tortor auctor facilisis sollicitudin fermentum. Semper at nisl id lacus bibendum porta at facilisi aliquet.",
        ],
      },
      {
        question: "Как происходит установка модульного дома?",
        answer: [
          "Vulputate eget nibh netus mi nunc amet, morbi egestas. Donec at vulputate fermentum, sit sit iaculis lectus felis. Laoreet morbi diam ut ultricies posuere. Lectus imperdiet morbi semper viverra bibendum. Phasellus velit id bibendum tincidunt leo turpis urna diam. Adipiscing libero tortor aliquet arcu. In tellus dolor duis commodo faucibus lorem amet, maecenas sed. Ultrices tristique et sed cras et vitae neque, amet neque. Sit lacus, donec praesent facilisis eget nisl, eget nam. Tortor auctor facilisis sollicitudin fermentum. Semper at nisl id lacus bibendum porta at facilisi aliquet.",
          "Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quam ipsa nihil eum blanditiis ut?",
        ],
      },
      {
        question: "Необходимо ли подготавливать участок для установки постройки?",
        answer: [
          "Vulputate eget nibh netus mi nunc amet, morbi egestas. Donec at vulputate fermentum, sit sit iaculis lectus felis. Laoreet morbi diam ut ultricies posuere. Lectus imperdiet morbi semper viverra bibendum. Phasellus velit id bibendum tincidunt leo turpis urna diam. Adipiscing libero tortor aliquet arcu. In tellus dolor duis commodo faucibus lorem amet, maecenas sed. Ultrices tristique et sed cras et vitae neque, amet neque. Sit lacus, donec praesent facilisis eget nisl, eget nam. Tortor auctor facilisis sollicitudin fermentum. Semper at nisl id lacus bibendum porta at facilisi aliquet.",
        ],
      },
      {
        question: "Какие требования к участку размещения постройки?",
        answer: [
          "Vulputate eget nibh netus mi nunc amet, morbi egestas. Donec at vulputate fermentum, sit sit iaculis lectus felis. Laoreet morbi diam ut ultricies posuere. Lectus imperdiet morbi semper viverra bibendum. Phasellus velit id bibendum tincidunt leo turpis urna diam. Adipiscing libero tortor aliquet arcu. In tellus dolor duis commodo faucibus lorem amet, maecenas sed. Ultrices tristique et sed cras et vitae neque, amet neque. Sit lacus, donec praesent facilisis eget nisl, eget nam. Tortor auctor facilisis sollicitudin fermentum. Semper at nisl id lacus bibendum porta at facilisi aliquet.",
        ],
      },
      {
        question: "Сколько времени занимает строительство?",
        answer: [
          "Vulputate eget nibh netus mi nunc amet, morbi egestas. Donec at vulputate fermentum, sit sit iaculis lectus felis. Laoreet morbi diam ut ultricies posuere. Lectus imperdiet morbi semper viverra bibendum. Phasellus velit id bibendum tincidunt leo turpis urna diam. Adipiscing libero tortor aliquet arcu. In tellus dolor duis commodo faucibus lorem amet, maecenas sed. Ultrices tristique et sed cras et vitae neque, amet neque. Sit lacus, donec praesent facilisis eget nisl, eget nam. Tortor auctor facilisis sollicitudin fermentum. Semper at nisl id lacus bibendum porta at facilisi aliquet.",
        ],
      },
      {
        question: "Насколько автономным будет строение?",
        answer: [
          "Vulputate eget nibh netus mi nunc amet, morbi egestas. Donec at vulputate fermentum, sit sit iaculis lectus felis. Laoreet morbi diam ut ultricies posuere. Lectus imperdiet morbi semper viverra bibendum. Phasellus velit id bibendum tincidunt leo turpis urna diam. Adipiscing libero tortor aliquet arcu. In tellus dolor duis commodo faucibus lorem amet, maecenas sed. Ultrices tristique et sed cras et vitae neque, amet neque. Sit lacus, donec praesent facilisis eget nisl, eget nam. Tortor auctor facilisis sollicitudin fermentum. Semper at nisl id lacus bibendum porta at facilisi aliquet.",
        ],
      },
      {
        question: "Насколько автономным будет строение?",
        answer: [
          "Vulputate eget nibh netus mi nunc amet, morbi egestas. Donec at vulputate fermentum, sit sit iaculis lectus felis. Laoreet morbi diam ut ultricies posuere. Lectus imperdiet morbi semper viverra bibendum. Phasellus velit id bibendum tincidunt leo turpis urna diam. Adipiscing libero tortor aliquet arcu. In tellus dolor duis commodo faucibus lorem amet, maecenas sed. Ultrices tristique et sed cras et vitae neque, amet neque. Sit lacus, donec praesent facilisis eget nisl, eget nam. Tortor auctor facilisis sollicitudin fermentum. Semper at nisl id lacus bibendum porta at facilisi aliquet.",
        ],
      },
    ],
  }
