-
  const footer = {
    name: "АО «ПО «ПНСК»",
    inn: "ИНН: 4719016582",
    contacts: [
      {
        href: "tel:+78123364500",
        text: "+7 (812) 336-45-00",
        icon: {
          name: "icon-phone",
          width: 15,
          heigth: 15,
        },
      },
      {
        href: "mailto:sale@plat-forma.pro",
        text: "sale@plat-forma.pro",
        icon: {
          name: "icon-email",
          width: 15,
          heigth: 12,
        },
      },
      {
        href: "https://goo.gl/maps/W2NaNWyeVWPSng8G9",
        isExternal: true,
        text: "г. Санкт-Петербург, Красное Село, улица Восстановления, 66",
        icon: {
          name: "icon-pin",
          width: 12,
          heigth: 17,
        },
      },
    ],
    social: [
      {
        href: "https://vk.com",
        text: "Мы в вконтакте",
        icon: {
          name: "icon-social-vkontakte",
          width: 40,
          heigth: 40,
        },
      },
      {
        href: "https://facebook.com",
        text: "Мы в фэйсбук",
        icon: {
          name: "icon-social-facebook",
          width: 40,
          heigth: 40,
        },
      },
      {
        href: "#",
        text: "Мы в ватсап",
        icon: {
          name: "icon-social-whatsapp",
          width: 40,
          heigth: 40,
        },
      },
      {
        href: "#",
        text: "Мы в телеграм",
        icon: {
          name: "icon-social-telegram",
          width: 40,
          heigth: 40,
        },
      },
    ],
    other: [
      {
        href: "#",
        text: "Политика конфеденциальности предоставляемых данных",
      },
      {
        href: "#",
        text: "Пользовательское соглашение",
      },
      {
        href: "https://ra-studio.ru/",
        isExternal: true,
        mod: "developer",
        text: "Сайт сделал: RA-Studio",
      },
    ],
  }
