-
  const header = {
    navLinks: [
      {
        href: "#",
        text: "Концепция"
      },
      {
        href: "#",
        text: "Серии"
      },
      {
        href: "#",
        text: "Проекты"
      },
      {
        href: "#",
        text: "Блог"
      },
      {
        href: "#",
        text: "Контакты"
      },
    ],
    contactLinks: [
      {
        href: "tel:+78123364500",
        text: "+7 (812) 336-45-00"
      },
      {
        href: "#",
        isAccent: true,
        text: "Обратиться к нам"
      },
    ],
  }
