-
  const intro = {
    title: "модульные дома для Вашего комфорта",
    slides: [
      {
        path: "slides",
        name: "intro-slide1",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
      {
        path: "slides",
        name: "intro-slide1",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
      {
        path: "slides",
        name: "intro-slide1",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
      {
        path: "slides",
        name: "intro-slide1",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
      {
        path: "slides",
        name: "intro-slide1",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
    ],
  }
