-
  const moreAbout = {
    img: {
      path: "content",
      name: "know-more",
      type: "jpg",
      altText: "Модульный дом на берегу озера",
    },
    title: "Хотели бы узнать больше?",
    btn: {
      href: "#",
      text: "Обратиться к нам"
    }
  }
