-
  const productionAbout = {
    title: "Производство",
    desc: [
      "На выбор подходящий размер и конфигурация дома для разных земельных участков и разного состава семьи (молодая пара, семья с маленьким ребенком, дом для большой семьи). Мы сможем установить дом практически где угодно — на участке перед вашим домом, в лесной зоне, на берегу реки. Доставку осуществляет наша компания.",
      "На выбор подходящий размер и конфигурация дома для разных земельных участков и разного состава семьи (молодая пара, семья с маленьким ребенком, дом для большой семьи). Мы сможем установить дом практически где угодно — на участке перед вашим домом, в лесной зоне, на берегу реки. Доставку осуществляет наша компания.",
    ],
    slides: [
      {
        path: "slides",
        name: "production-about-slide1",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
      {
        path: "slides",
        name: "production-about-slide1",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
      {
        path: "slides",
        name: "production-about-slide1",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
      {
        path: "slides",
        name: "production-about-slide1",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
      {
        path: "slides",
        name: "production-about-slide1",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
    ],
  }
