-
  const production = {
    title: "Наше производство",
    desc: "PLATforma входит в холдинг «ПНСК». Производство расположено в Санкт‑Петербурге, завод общей площадью более 12 га. Основные критерии выбора «ПНСК» — это опыт, профессионализм и безупречная репутация.",
    cover: {
      path: "content",
      name: "bg-production",
      type: "jpg",
      altText: "Производственный комплекс PLATforma",
    },
    features: [
      {
        quantity: "12",
        unit: "гектаров",
        desc: "Площадь собственного завода",
      },
      {
        quantity: "50+",
        desc: "Зданий построенно за год",
      },
      {
        quantity: "300+",
        desc: "Сотрудников компании",
      },
      {
        quantity: "30",
        unit: "лет",
        desc: "опыта в производстве модульных домов",
      },
    ],
  }
