-
  const series = {
    title: "Наши серии",
    desc: "PLATforma Home— это не просто дома, идеально созданные в заводских условиях по современным технологиям. Это философия жизни в стиле максимального личного комфорта, уюта и благополучия.",
    seeAllLink: {
      href: "#",
      text: "Смотреть все",
    },
    slides: [
      {
        title: "Cabin",
        href: "#",
        path: "slides",
        name: "series-slide1",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
      {
        title: "Патио",
        href: "#",
        path: "slides",
        name: "series-slide2",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
      {
        title: "Зиг-заг",
        href: "#",
        path: "slides",
        name: "series-slide3",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
      {
        title: "Cabin",
        href: "#",
        path: "slides",
        name: "series-slide1",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
      {
        title: "Патио",
        href: "#",
        path: "slides",
        name: "series-slide2",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
      {
        title: "Зиг-заг",
        href: "#",
        path: "slides",
        name: "series-slide3",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
      {
        title: "Cabin",
        href: "#",
        path: "slides",
        name: "series-slide1",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
      {
        title: "Патио",
        href: "#",
        path: "slides",
        name: "series-slide2",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
      {
        title: "Зиг-заг",
        href: "#",
        path: "slides",
        name: "series-slide3",
        type: "jpg",
        altText: "Дом, установленный в горах",
      },
    ],
  }
